#----------------------------------------------------------------------------
# Input data
#----------------------------------------------------------------------------
/in/*


#----------------------------------------------------------------------------
# result
#----------------------------------------------------------------------------
/out/*