#----------------------------------------------------------------------------
# Input data
#----------------------------------------------------------------------------
/in/*


#----------------------------------------------------------------------------
# result
#----------------------------------------------------------------------------
/out/*


#----------------------------------------------------------------------------
# gitignore
-----------------------------------------------------------------------------
.gitignore